@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using NET8.Demo.GlobalAdmin.Models
@model NewPasswordViewModel
@{
    ViewBag.Title = Localizer["ForgotPasswordConfirmation"];
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<form class="form w-100" novalidate="novalidate" id="kt_new_password_form" method="post" action="@Url.Action("NewPassword", "Account", new { Model.Email, Model.Token, Model.ReturnUrl })">
    @Html.AntiForgeryToken()
    <div class="text-center mb-10">
        <h1 class="text-gray-900 fw-bolder mb-3">@Localizer["SetupNewPassword"]</h1>
        <div class="text-gray-500 fw-semibold fs-6">
            @Localizer["HaveYouResetPassword"]
            <a href="@Url.Action("Login", "Account", new { Model.ReturnUrl })" class="link-primary fw-semibold">@Localizer["Login"]</a>
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <div class="mb-1">
            <div class="position-relative mb-3">
                <input class="form-control bg-transparent" type="password" placeholder="@Localizer["Password"]" name="password" autocomplete="off" />
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="ki-duotone ki-eye-slash fs-2"></i>
                    <i class="ki-duotone ki-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
        <div class="text-muted">@Localizer["PasswordHint"]</div>
    </div>
    <div class="fv-row mb-8">
        <input type="password" placeholder="@Localizer["Register.ConfirmPassword"]" name="confirmPassword" autocomplete="off" class="form-control bg-transparent" />
    </div>
    <div class="d-grid mb-10">
        <button type="button" id="kt_new_password_submit" class="btn btn-primary">
            <span class="indicator-label">@Localizer["Submit"]</span>
            <span class="indicator-progress">
                @Localizer["PleaseWait"]
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
</form>
@section scripts {
    <script src="/js/authentication/reset-password/new-password.js"></script>
}