@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using NET8.Demo.GlobalAdmin.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = Localizer["ResetPassword"];
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" method="post" action="@Url.Action("ResetPassword", "Account", new { Model.ReturnUrl })">
    @Html.AntiForgeryToken()
    <div class="text-center mb-10">
        <h1 class="text-gray-900 fw-bolder mb-3">@Localizer["Login.ForgotPassword"]</h1>
        <div class="text-gray-500 fw-semibold fs-6">@Localizer["EmailReset"]</div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="fv-row mb-8">
        <input type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent" />
    </div>
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="button" id="kt_password_reset_submit" class="btn btn-primary me-4">
            <span class="indicator-label">@Localizer["Submit"]</span>
            <span class="indicator-progress">
                @Localizer["PleaseWait"]
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a href="@Url.Action("Login", "Account", new { Model.ReturnUrl })" class="btn btn-light">@Localizer["Cancel"]</a>
    </div>
</form>
@section scripts {
    <script src="/js/authentication/reset-password/reset-password.js"></script>
}
